@import "tailwindcss";


@theme inline {
  --color-background: #000d60;
  --color-foreground: #fff;
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

body {
  background: var(--background);
  background-color: var(--color-background);
  color: white;
  color: var(--foreground);
}